<% flash.each do |key, value| %>
    <p class="alert alert-<%= key %>">
      <%= value %>
    </p>
<% end %>
<h1>User info</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <h3><%= @user.name %></h3>
  <h3><%= @user.introduction %></h3>
    <p><%= link_to "設定", edit_user_path(@user) %></p>

 <h2>New book<h2>
  <% if @book.errors.any? %>
        <%= @book.errors.count %>件のエラーが発生しました
        <% @book.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>

        <%= form_with model: @book, local: true do |f| %>
  　　　　　<div class="form-group">
    　 　　<%= f.label :title %><br>
         <%= f.text_field :title, class: "form-control" %>
         </div>
         <div class="form-group">
         <label>Opinion</label><br>
         <%= f.text_area :body, class: "form-control" %>
       </div>
       <div class="form-group">
         <%= f.submit "Create Book", class: "btn btn-success" %>
       </div>
         <% end %>
         </div>

<h1>Books detail</h1>
<table>
 <tbody>
  <tr>
  <td><%= image_tag('no_image.jpg') %></td>
  <td><%= @books.title %></td>
  <td><%= @books.body %></td>
  <td><%= @books.user.name %></td>
   <% if @books.user == current_user %>
   <% end %>
   <td><%= link_to "Edit",edit_book_path(@books)%></td>
   <td><%= link_to "Destroy", book_path(@books), method: :delete %></td>
  </tr>
 </tbody>
</table>


